$heading-1:2.5rem ubuntu,Verdana,Arial,sans-serif;
$heading-2:2rem ubuntu,Verdana,Arial,sans-serif;
$heading-3:1.5rem ubuntu,Verdana,Arial,sans-serif;
$normal-text:1.2rem ubuntu,Verdana,Arial,sans-serif;
$smaller-text:0.8rem ubuntu,Verdana,Arial,sans-serif;